{
  "presets": [
    ["@babel/preset-env",
    {
      "modules": "commonjs"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "transform-class-properties",
    "universal-import"
  ]
}